"*":
  core:
    disabledPackages: [
      "ide-haskell-repl"
      "exception-reporting"
      "metrics"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 12
    showInvisibles: true
  "exception-reporting":
    userId: ""
  "git-diff": {}
  "haskell-ghc-mod":
    onMouseHoverShow: ""
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "ide-purescript":
    addNpmPath: true
    autocomplete: {}
    pscIdeServerExe: "/home/jk/.psvm/current/bin/psc-ide-server"
    pursExe: "/home/jk/.psvm/current/bin/purs"
    useCombinedExe: false
  "linter-hlint":
    hlintExecutablePath: "/home/jk/.local/bin/hlint"
  "linter-ui-default":
    panelHeight: 231
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "vim-mode-plus":
    startInInsertMode: true
  welcome:
    showOnStartup: false
".psci.purescript.source":
  editor:
    tabLength: 4
".purescript.source":
  editor:
    autoIndentOnPaste: true
    showIndentGuide: true
