"*":
  "agda-mode":
    internalState: "{\"connections\":[],\"erred\":[]}"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDirectoryColumn: true
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "linter"
      "ide-haskell-repl"
      "ide-haskell-cabal"
      "ide-haskell"
      "haskell-ghc-mod"
      "autocomplete-haskell"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 18
    showInvisibles: true
  elmjutsu:
    cacheDirectory: "/tmp/elmjutsu66809hfTB1GVpr4Z"
  "exception-reporting":
    userId: ""
  "git-diff": {}
  "haskell-ghc-mod":
    builderManagement: true
    onMouseHoverShow: ""
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "ide-haskell-hie":
    hiePath: "/home/jk/.nix-profile/bin/hie-8.0"
    isDebug: true
  "ide-haskell-repl":
    defaultRepl: "cabal"
  "ide-purescript":
    addNpmPath: true
    autocomplete: {}
    pscIdeServerExe: "/home/jk/.psvm/current/bin/psc-ide-server"
    pursExe: "/home/jk/.psvm/current/bin/purs"
    useCombinedExe: false
  "language-elm":
    autocompleteEnabled: false
  "linter-hlint":
    hlintExecutablePath: "/home/jk/.local/bin/hlint"
  "linter-ui-default":
    panelHeight: 231
    showPanel: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "vim-mode-plus":
    startInInsertMode: true
  welcome:
    showOnStartup: false
".psci.purescript.source":
  editor:
    tabLength: 4
".purescript.source":
  editor:
    autoIndentOnPaste: true
    showIndentGuide: true
