"*":
  core:
    disabledPackages: [
      "ide-haskell-repl"
      "exception-reporting"
      "metrics"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
  editor:
    fontSize: 5
    showInvisibles: true
  "exception-reporting":
    userId: ""
  "haskell-ghc-mod":
    onMouseHoverShow: ""
  "ide-purescript":
    addNpmPath: true
    autocomplete: {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
".psci.purescript.source":
  editor:
    tabLength: 4
".purescript.source":
  editor:
    autoIndentOnPaste: true
    showIndentGuide: true
