packages: [
  "agda-mode"
  "autocomplete-haskell"
  "busy-signal"
  "git-plus"
  "haskell-ghc-mod"
  "highlight-selected"
  "ide-haskell"
  "ide-haskell-cabal"
  "ide-haskell-repl"
  "ide-purescript"
  "intentions"
  "language-agda"
  "language-gitignore"
  "language-haskell"
  "language-idris"
  "language-lisp"
  "language-purescript"
  "linter"
  "linter-hlint"
  "linter-ui-default"
  "minimap"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "nix"
  "package-sync"
  "pretty-json"
  "vim-mode-plus"
]
